# CONFIG_BLK_DEV_PCIESSD_MTIP32XX is not set
# CONFIG_BLK_DEV_DRBD is not set
# CONFIG_BLK_DEV_NBD is not set
# CONFIG_BLK_DEV_SX8 is not set
# CONFIG_BLK_DEV_RAM is not set
# CONFIG_BLK_DEV_RBD is not set
# CONFIG_BLK_DEV_NULL_BLK is not set
# CONFIG_XEN_BLKDEV_FRONTEND is not set

# CONFIG_BLK_DEV_INTEGRITY is not set
# CONFIG_BLK_DEV_ZONED is not set
# CONFIG_BLK_WBT is not set
# CONFIG_BLK_SED_OPAL is not set
# CONFIG_BLK_INLINE_ENCRYPTION is not set
# CONFIG_PARTITION_ADVANCED is not set
# CONFIG_MQ_IOSCHED_DEADLINE is not set
# CONFIG_MQ_IOSCHED_KYBER is not set
# CONFIG_IOSCHED_BFQ is not set

# CONFIG_NVME_MULTIPATH is not set 
# CONFIG_NVME_VERBOSE_ERRORS is not set
# CONFIG_NVME_FC is not set
# CONFIG_NVME_TCP is not set
# CONFIG_NVME_FABRICS is not set
# CONFIG_NVME_TARGET is not set

# CONFIG_EISA is not set
# CONFIG_VMD is not set
# CONFIG_PCIE_DW_PLAT_HOST is not set
# CONFIG_PCI_MESON is not set
# CONFIG_PCI_ENDPOINT is not set
# CONFIG_PCI_SW_SWITCHTEC is not set
# CONFIG_PCCARD is not set

# CONFIG_STANDALONE is not set
# CONFIG_PREVENT_FIRMWARE_BUILD is not set
# CONFIG_FW_LOADER_USER_HELPER is not set
# CONFIG_FW_LOADER_COMPRESS is not set
# CONFIG_FW_UPLOAD is not set

# CONFIG_MHI_BUS is not set
# CONFIG_MHI_BUS_EP is not set
# CONFIG_EDD is not set
# CONFIG_DMIID is not set
# CONFIG_DMI_SYSFS is not set
# CONFIG_FW_CFG_SYSFS is not set
# CONFIG_SYSFB_SIMPLEFB is not set
# CONFIG_GOOGLE_FIRMWARE is not set
# CONFIG_GNSS is not set
# CONFIG_MTD is not set
# CONFIG_OF is not set
# CONFIG_PARPORT is not set

# CONFIG_DUMMY_IRQ is not set
# CONFIG_ENCLOSURE_SERVICES is not set
# CONFIG_SRAM is not set
# CONFIG_XILINX_SDFEC is not set
# CONFIG_C2PORT is not set
# CONFIG_EEPROM_93CX6 is not set
# CONFIG_ECHO is not set
# CONFIG_PVPANIC is not set
# CONFIG_RAID_ATTRS is not set
# CONFIG_SCSI is not set
# CONFIG_ATA is not set
# CONFIG_MD is not set
# CONFIG_TARGET_CORE is not set
# CONFIG_FUSION is not set
# CONFIG_FIREWIRE is not set
# CONFIG_FIREWIRE_NOSY is not set
# CONFIG_X86_INTEL_LPSS is not set
# CONFIG_MACINTOSH_DRIVERS is not set
# CONFIG_WLAN is not set

# CONFIG_PTP_1588_CLOCK is not set

# CONFIG_AGP is not set
# CONFIG_DRM_AMDGPU is not set
# CONFIG_DRM_NOUVEAU is not set
# CONFIG_DRM_I915 is not set

# CONFIG_HID_SENSOR_HUB is not set
# CONFIG_SOUNDWIRE is not set
# CONFIG_NTB is not set
# CONFIG_PSTORE_DEFLATE_COMPRESS is not set
