CONFIG_I2C=n
# CONFIG_I3C is not set
# CONFIG_SPI is not set
# CONFIG_SPMI is not set
# CONFIG_HSI is not set
# CONFIG_PPS is not set

# CONFIG_PINCTRL is not set
CONFIG_GPIOLIB=n
# CONFIG_W1 is not set
# CONFIG_POWER_RESET is not set
CONFIG_POWER_SUPPLY=n
# CONFIG_HWMON is not set

# CONFIG_INTEL_POWERCLAMP is not set
# CONFIG_X86_PKG_TEMP_THERMAL is not set
# CONFIG_INTEL_SOC_DTS_THERMAL is not set
# CONFIG_INT340X_THERMAL is not set
# CONFIG_INTEL_PCH_THERMAL is not set
# CONFIG_INTEL_TCC_COOLING is not set
# CONFIG_INTEL_HFI_THERMAL is not set
CONFIG_THERMAL=n

# CONFIG_WATCHDOG is not set
CONFIG_SSB=n
# CONFIG_BCMA is not set

# CONFIG_MFD_MADERA is not set
# CONFIG_HTC_PASIC3 is not set
# CONFIG_MFD_KEMPLD is not set
# CONFIG_MFD_MT6397 is not set
# CONFIG_MFD_SM501 is not set
# CONFIG_MFD_SYSCON is not set
# CONFIG_MFD_TI_AM335X_TSCADC is not set
# CONFIG_MFD_TQMX86 is not set
# CONFIG_MFD_DLN2 is not set
# CONFIG_LPC_ICH is not set
CONFIG_LPC_SCH=n
# CONFIG_MFD_INTEL_LPSS_ACPI is not set
# CONFIG_MFD_INTEL_LPSS_PCI is not set
# CONFIG_MFD_VX855 is not set
CONFIG_MFD_CORE=n

# CONFIG_REGULATOR is not set
# CONFIG_RC_CORE is not set

# CONFIG_MEDIA_CEC_SUPPORT is not set
# CONFIG_MEDIA_SUPPORT is not set

# CONFIG_DRM is not set
# CONFIG_FB is not set
# CONFIG_LCD_CLASS_DEVICE is not set
CONFIG_BACKLIGHT_CLASS_DEVICE=n

# CONFIG_SOUND is not set
CONFIG_HID=n
# CONFIG_USB_OHCI_HCD_SSB is not set
# CONFIG_USB_STORAGE is not set
# CONFIG_USB_SERIAL is not set
# CONFIG_USB4 is not set
# CONFIG_TYPEC is not set
# CONFIG_MMC is not set
# CONFIG_MEMSTICK is not set
# CONFIG_NEW_LEDS is not set
# CONFIG_ACCESSIBILITY is not set
# CONFIG_INFINIBAND is not set
# CONFIG_EDAC is not set
# CONFIG_RTC_CLASS is not set
# CONFIG_DMADEVICES is not set
# CONFIG_SYNC_FILE is not set
# CONFIG_DMABUF_HEAPS is not set
# CONFIG_AUXDISPLAY is not set
CONFIG_UIO=n
# CONFIG_VFIO is not set
# CONFIG_VDPA is not set
# CONFIG_HYPERV is not set
# CONFIG_XEN_BACKEND is not set
# CONFIG_VIRT_DRIVERS is not set
# CONFIG_VIRTIO_MENU is not set
# CONFIG_VHOST_MENU is not set
# CONFIG_GREYBUS is not set
# CONFIG_COMEDI is not set
# CONFIG_STAGING is not set
# CONFIG_X86_PLATFORM_DEVICES is not set
# CONFIG_CHROME_PLATFORMS is not set
# CONFIG_MELLANOX_PLATFORM is not set
# CONFIG_SURFACE_PLATFORMS is not set
CONFIG_COMMON_CLK=n
# CONFIG_HWSPINLOCK is not set
CONFIG_MAILBOX=n
# CONFIG_IOMMU_SUPPORT is not set
# CONFIG_REMOTEPROC is not set
# CONFIG_RPMSG_VIRTIO is not set
# CONFIG_SOC_TI is not set
# CONFIG_PM_DEVFREQ is not set
CONFIG_EXTCON=n
# CONFIG_MEMORY is not set
# CONFIG_IIO is not set
# CONFIG_PWM is not set
# CONFIG_IPACK_BUS is not set
CONFIG_RESET_CONTROLLER=n
# CONFIG_GENERIC_PHY is not set
# CONFIG_PHY_CAN_TRANSCEIVER is not set
# CONFIG_BCM_KONA_USB2_PHY is not set
# CONFIG_PHY_PXA_28NM_HSIC is not set
# CONFIG_PHY_PXA_28NM_USB2 is not set
# CONFIG_PHY_INTEL_LGM_EMMC is not set
# CONFIG_POWERCAP is not set
# CONFIG_MCB is not set
CONFIG_RAS=n
# CONFIG_ANDROID is not set
CONFIG_DAX=n
CONFIG_NVMEM=n
# CONFIG_STM is not set
# CONFIG_INTEL_TH is not set
# CONFIG_FPGA is not set
# CONFIG_TEE is not set
# CONFIG_SIOX is not set
# CONFIG_SLIMBUS is not set
# CONFIG_INTERCONNECT is not set
# CONFIG_COUNTER is not set
# CONFIG_PECI is not set
# CONFIG_HTE is not set

# CONFIG_PROC_KCORE is not set
