#Disableds only, repeated fails from first file 03-Combined-1.config
# CONFIG_ACPI_CUSTOM_DSDT_FILE is not set
# CONFIG_CEPH_LIB is not set
# CONFIG_FAILOVER is not set
# CONFIG_LLC is not set
# CONFIG_HW_RANDOM is not set
# CONFIG_TCG_TPM is not set
# CONFIG_I2C is not set
# CONFIG_GPIOLIB is not set
# CONFIG_POWER_SUPPLY is not set
# CONFIG_THERMAL is not set
# CONFIG_SSB is not set
# CONFIG_LPC_SCH is not set
# CONFIG_MFD_CORE is not set
# CONFIG_BACKLIGHT_CLASS_DEVICE is not set
# CONFIG_HID is not set
# CONFIG_UIO is not set
# CONFIG_COMMON_CLK is not set
# CONFIG_MAILBOX is not set
# CONFIG_EXTCON is not set
# CONFIG_RESET_CONTROLLER is not set
# CONFIG_RAS is not set
# CONFIG_DAX is not set
# CONFIG_NVMEM is not set
# CONFIG_EXPORTFS_BLOCK_OPS is not set
# CONFIG_INOTIFY_USER is not set
