#Merging /etc/kernel/config.d/combined/03-1-Combined-1part1.config
# CONFIG_BLK_DEV_PCIESSD_MTIP32XX is not set

# CONFIG_BLK_DEV_RAM is not set

# CONFIG_BLK_DEV_NULL_BLK is not set
# CONFIG_BLK_DEV_INTEGRITY is not set
# CONFIG_BLK_DEV_ZONED is not set
# CONFIG_BLK_WBT is not set
# CONFIG_BLK_SED_OPAL is not set
# CONFIG_BLK_INLINE_ENCRYPTION is not set
# CONFIG_PARTITION_ADVANCED is not set
# CONFIG_MQ_IOSCHED_DEADLINE is not set
# CONFIG_MQ_IOSCHED_KYBER is not set
# CONFIG_IOSCHED_BFQ is not set

# CONFIG_NVME_FC is not set

# CONFIG_NVME_FABRICS is not set
# CONFIG_NVME_TARGET is not set

# CONFIG_VMD is not set

# CONFIG_PCI_SW_SWITCHTEC is not set
# CONFIG_PCCARD is not set
# CONFIG_STANDALONE is not set
# CONFIG_PREVENT_FIRMWARE_BUILD is not set
# CONFIG_FW_LOADER_USER_HELPER is not set
# CONFIG_FW_LOADER_COMPRESS is not set
# CONFIG_FW_UPLOAD is not set
# CONFIG_MHI_BUS is not set

# CONFIG_EDD is not set
# CONFIG_DMIID is not set
# CONFIG_DMI_SYSFS is not set
# CONFIG_FW_CFG_SYSFS is not set

# CONFIG_GNSS is not set
# CONFIG_MTD is not set

# CONFIG_PARPORT is not set

# CONFIG_ENCLOSURE_SERVICES is not set

# CONFIG_EEPROM_93CX6 is not set
# CONFIG_ECHO is not set
# CONFIG_PVPANIC is not set
# CONFIG_RAID_ATTRS is not set
# CONFIG_SCSI is not set
# CONFIG_ATA is not set
# CONFIG_MD is not set
# CONFIG_TARGET_CORE is not set
# CONFIG_FUSION is not set
# CONFIG_FIREWIRE is not set
# CONFIG_FIREWIRE_NOSY is not set
# CONFIG_X86_INTEL_LPSS is not set
# CONFIG_MACINTOSH_DRIVERS is not set

# CONFIG_AGP is not set
# CONFIG_DRM_AMDGPU is not set
# CONFIG_DRM_NOUVEAU is not set
# CONFIG_DRM_I915 is not set
# CONFIG_SOUNDWIRE is not set
# CONFIG_NTB is not set

#Merging /etc/kernel/config.d/combined/03-1-Combined-1part2-part1.config
# CONFIG_INPUT_SPARSEKMAP is not set
# CONFIG_INPUT_MATRIXKMAP is not set
# CONFIG_INPUT_MOUSEDEV is not set
# CONFIG_INPUT_JOYDEV is not set
CONFIG_INPUT_EVDEV=m

# CONFIG_INPUT_KEYBOARD is not set
# CONFIG_INPUT_MOUSE is not set
# CONFIG_INPUT_JOYSTICK is not set
# CONFIG_INPUT_TABLET is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
# CONFIG_INPUT_MISC is not set
# CONFIG_INPUT_FF_MEMLESS is not set
# CONFIG_RMI4_CORE is not set
# CONFIG_SERIO is not set
# CONFIG_GAMEPORT is not set
# CONFIG_VT_HW_CONSOLE_BINDING is not set

# CONFIG_LDISC_AUTOLOAD is not set

# CONFIG_SERIAL_8250_EXTENDED is not set
# CONFIG_SERIAL_8250_RT288X is not set

# CONFIG_SERIAL_ARC is not set

# CONFIG_SERIAL_NONSTANDARD is not set
# CONFIG_NULL_TTY is not set
# CONFIG_SERIAL_DEV_BUS is not set
# CONFIG_IBM_ASM is not set
# CONFIG_TIFM_CORE is not set
# CONFIG_HP_ILO is not set
# CONFIG_DW_XDATA_PCIE is not set
# CONFIG_CB710_CORE is not set
# CONFIG_INTEL_MEI is not set
# CONFIG_INTEL_MEI_ME is not set
# CONFIG_INTEL_MEI_TXE is not set
# CONFIG_VMWARE_VMCI is not set
# CONFIG_BCM_VK is not set
# CONFIG_MISC_ALCOR_PCI is not set
# CONFIG_MISC_RTSX_PCI is not set
# CONFIG_MISC_RTSX_USB is not set
# CONFIG_VIRTIO_CONSOLE is not set
# CONFIG_IPMI_HANDLER is not set
CONFIG_HW_RANDOM=n
# CONFIG_MWAVE is not set
# CONFIG_DEVMEM is not set
# CONFIG_NVRAM is not set
# CONFIG_HANGCHECK_TIMER is not set
CONFIG_TCG_TPM=n
# CONFIG_TELCLOCK is not set
# CONFIG_RANDOM_TRUST_CPU is not set
# CONFIG_RANDOM_TRUST_BOOTLOADER is not set
# CONFIG_DEVPORT is not set
CONFIG_HPET_MMAP=y
# CONFIG_TCG_NSC is not set
# CONFIG_TCG_ATMEL is not set
# CONFIG_TCG_INFINEON is not set
# CONFIG_TCG_VTPM_PROXY is not set
# CONFIG_BATTERY_SAMSUNG_SDI is not set
# CONFIG_BATTERY_BQ27XXX is not set
# CONFIG_VGA_SWITCHEROO is not set

#Merging /etc/kernel/config.d/combined/03-1-Combined-1part2-part2.config
CONFIG_I2C=n

# CONFIG_SPI is not set

# CONFIG_PPS is not set
# CONFIG_PINCTRL is not set
CONFIG_GPIOLIB=n
# CONFIG_W1 is not set
# CONFIG_POWER_RESET is not set
CONFIG_POWER_SUPPLY=n
# CONFIG_HWMON is not set
# CONFIG_INTEL_SOC_DTS_THERMAL is not set
# CONFIG_INT340X_THERMAL is not set
# CONFIG_INTEL_PCH_THERMAL is not set
# CONFIG_INTEL_TCC_COOLING is not set
CONFIG_THERMAL=n
# CONFIG_WATCHDOG is not set
CONFIG_SSB=n
# CONFIG_BCMA is not set

# CONFIG_MFD_SM501 is not set
# CONFIG_MFD_SYSCON is not set

# CONFIG_MFD_DLN2 is not set
# CONFIG_LPC_ICH is not set
CONFIG_LPC_SCH=n
# CONFIG_MFD_INTEL_LPSS_ACPI is not set
# CONFIG_MFD_INTEL_LPSS_PCI is not set
# CONFIG_MFD_VX855 is not set
CONFIG_MFD_CORE=n
# CONFIG_REGULATOR is not set
# CONFIG_RC_CORE is not set
# CONFIG_MEDIA_CEC_SUPPORT is not set
# CONFIG_MEDIA_SUPPORT is not set
# CONFIG_DRM is not set
# CONFIG_FB is not set
# CONFIG_LCD_CLASS_DEVICE is not set
CONFIG_BACKLIGHT_CLASS_DEVICE=n
# CONFIG_SOUND is not set
CONFIG_HID=n
# CONFIG_USB_STORAGE is not set
# CONFIG_USB_SERIAL is not set
# CONFIG_USB4 is not set
# CONFIG_TYPEC is not set
# CONFIG_MMC is not set
# CONFIG_MEMSTICK is not set
# CONFIG_NEW_LEDS is not set
# CONFIG_ACCESSIBILITY is not set

# CONFIG_EDAC is not set
# CONFIG_RTC_CLASS is not set
# CONFIG_DMADEVICES is not set
# CONFIG_SYNC_FILE is not set
# CONFIG_DMABUF_HEAPS is not set
# CONFIG_AUXDISPLAY is not set
CONFIG_UIO=n
# CONFIG_VFIO is not set

# CONFIG_HYPERV is not set
# CONFIG_VIRT_DRIVERS is not set
# CONFIG_VIRTIO_MENU is not set
# CONFIG_VHOST_MENU is not set

# CONFIG_STAGING is not set
# CONFIG_X86_PLATFORM_DEVICES is not set
# CONFIG_CHROME_PLATFORMS is not set
# CONFIG_MELLANOX_PLATFORM is not set
# CONFIG_SURFACE_PLATFORMS is not set
CONFIG_COMMON_CLK=n
# CONFIG_HWSPINLOCK is not set
CONFIG_MAILBOX=n
# CONFIG_IOMMU_SUPPORT is not set
# CONFIG_REMOTEPROC is not set

CONFIG_EXTCON=n

# CONFIG_IIO is not set
# CONFIG_PWM is not set

CONFIG_RESET_CONTROLLER=n
# CONFIG_GENERIC_PHY is not set

# CONFIG_POWERCAP is not set

CONFIG_RAS=n
CONFIG_DAX=n
CONFIG_NVMEM=n
# CONFIG_STM is not set
# CONFIG_INTEL_TH is not set
# CONFIG_FPGA is not set
# CONFIG_TEE is not set

# CONFIG_INTERCONNECT is not set
# CONFIG_COUNTER is not set

#Merging /etc/kernel/config.d/combined/03-2-Combined-2.config

# CONFIG_HW_RANDOM is not set
# CONFIG_TCG_TPM is not set
# CONFIG_I2C is not set
# CONFIG_GPIOLIB is not set
# CONFIG_POWER_SUPPLY is not set
# CONFIG_THERMAL is not set
# CONFIG_SSB is not set
# CONFIG_LPC_SCH is not set
# CONFIG_MFD_CORE is not set
# CONFIG_BACKLIGHT_CLASS_DEVICE is not set
# CONFIG_HID is not set
# CONFIG_UIO is not set
# CONFIG_COMMON_CLK is not set
# CONFIG_MAILBOX is not set
# CONFIG_EXTCON is not set
# CONFIG_RESET_CONTROLLER is not set
# CONFIG_RAS is not set
# CONFIG_DAX is not set
# CONFIG_NVMEM is not set

# CONFIG_INOTIFY_USER is not set

#Merging /etc/kernel/config.d/combined/03-4-Combined-4.config

# CONFIG_I2C_HID_ACPI is not set
# CONFIG_I2C_HID_CORE is not set
# CONFIG_INTEL_ISH_HID is not set

# CONFIG_AMD_SFH_HID is not set

# CONFIG_NOP_USB_XCEIV is not set
# CONFIG_USB_PHY is not set

# CONFIG_FS_DAX is not set
# CONFIG_ND_BTT is not set
# CONFIG_ND_PFN is not set
# CONFIG_NVDIMM_PFN is not set
# CONFIG_X86_PMEM_LEGACY is not set
# CONFIG_ACPI_NFIT is not set

# CONFIG_CXL_BUS is not set
# CONFIG_CXL_PCI is not set

# CONFIG_CXL_ACPI is not set
# CONFIG_CXL_MEM is not set
# CONFIG_CXL_PORT is not set
