#Merging /etc/kernel/config.d/combined/03-2-Combined-2.config


# CONFIG_HW_RANDOM is not set
# CONFIG_TCG_TPM is not set
# CONFIG_I2C is not set
# CONFIG_GPIOLIB is not set
# CONFIG_POWER_SUPPLY is not set
# CONFIG_THERMAL is not set
# CONFIG_SSB is not set
# CONFIG_LPC_SCH is not set
# CONFIG_MFD_CORE is not set
# CONFIG_BACKLIGHT_CLASS_DEVICE is not set
# CONFIG_HID is not set
# CONFIG_UIO is not set
# CONFIG_COMMON_CLK is not set
# CONFIG_MAILBOX is not set
# CONFIG_EXTCON is not set
# CONFIG_RESET_CONTROLLER is not set
# CONFIG_RAS is not set
# CONFIG_DAX is not set
# CONFIG_NVMEM is not set

# CONFIG_INOTIFY_USER is not set
