#Merging /etc/kernel/config.d/combined/03-4-Combined-4.config



# CONFIG_I2C_HID_ACPI is not set
# CONFIG_I2C_HID_CORE is not set
# CONFIG_INTEL_ISH_HID is not set









# CONFIG_AMD_SFH_HID is not set


# CONFIG_NOP_USB_XCEIV is not set
# CONFIG_USB_PHY is not set

# CONFIG_FS_DAX is not set
# CONFIG_ND_BTT is not set
# CONFIG_ND_PFN is not set
# CONFIG_NVDIMM_PFN is not set
# CONFIG_X86_PMEM_LEGACY is not set
# CONFIG_ACPI_NFIT is not set


# CONFIG_CXL_BUS is not set
# CONFIG_CXL_PCI is not set

# CONFIG_CXL_ACPI is not set
# CONFIG_CXL_MEM is not set
# CONFIG_CXL_PORT is not set
