##disabling these requires drivers/hid/Kconfig change
## (hides Special HID drivers menu)
# CONFIG_INPUT_FF_MEMLESS is not set
# CONFIG_RMI4_CORE is not set
# CONFIG_SERIO is not set

# CONFIG_I2C_HID_ACPI is not set
# CONFIG_I2C_HID_CORE is not set
# CONFIG_I2C_HID_OF is not set
# CONFIG_I2C_HID_OF_GOODIX is not set
# CONFIG_INTEL_ISH_HID is not set
##i2c
# CONFIG_I2C is not set
## disable now requires IGB and SFC_FALCON
# CONFIG_IGB is not set
# CONFIG_SFC_FALCON is not set

# CONFIG_X86_AMD_PLATFORM_DEVICE is not set
# CONFIG_PINCTRL is not set
# CONFIG_GPIOLIB is not set
# CONFIG_RESET_CONTROLLER is not set
# CONFIG_NETDEVICES is not set
# CONFIG_NEW_LEDS is not set
# CONFIG_FUSION is not set
# CONFIG_SSB is not set
# CONFIG_AMD_SFH_HID is not set

# CONFIG_MII is not set

# CONFIG_CEPH_LIB is not set

# CONFIG_MCTP is not set

# CONFIG_USB4 is not set 

# CONFIG_NOP_USB_XCEIV is not set
# CONFIG_USB_PHY is not set
# CONFIG_EXTCON is not set

# CONFIG_FS_DAX is not set
# CONFIG_BLK_DEV_PMEM is not set 
# CONFIG_LIBNVDIMM is not set 
# CONFIG_ND_BTT is not set
# CONFIG_ND_PFN is not set
# CONFIG_NVDIMM_BTT is not set
# CONFIG_NVDIMM_PFN is not set
# CONFIG_X86_PMEM_LEGACY is not set
# CONFIG_ACPI_NFIT is not set
# CONFIG_DAX is not set
# CONFIG_NVMEM is not set

# CONFIG_CXL_BUS is not set
# CONFIG_CXL_PCI is not set
# CONFIG_CXL_MEM_RAW_COMMANDS is not set
# CONFIG_CXL_ACPI is not set
# CONFIG_CXL_MEM is not set
# CONFIG_CXL_PORT is not set

