# CONFIG_IKHEADERS is not set
# CONFIG_X86_MCE_INJECT is not set
# CONFIG_PERF_EVENTS_INTEL_RAPL is not set
# CONFIG_ACPI_BUTTON is not set
# CONFIG_ACPI_FAN is not set
# CONFIG_EFI_TEST is not set
# CONFIG_BLK_DEV_FD is not set
# CONFIG_SERIAL_8250 is not set
# CONFIG_SERIAL_8250_PCI is not set
# CONFIG_SERIAL_8250_EXAR is not set
# CONFIG_SERIAL_8250_DW is not set
# CONFIG_SERIAL_8250_LPSS is not set
# CONFIG_SERIAL_8250_MID is not set
# CONFIG_SERIAL_8250_PERICOM is not set
# CONFIG_SERIAL_CORE is not set
# CONFIG_USB_ACM is not set
# CONFIG_USB_EZUSB_FX2 is not set
# CONFIG_USB_ROLE_SWITCH is not set
# CONFIG_USB_ROLES_INTEL_XHCI is not set
# CONFIG_CRYPTO_TEST is not set
