policy_module(secureboot, 1.1.3)
#Secureboot - for /usr/share/secureboot/keys and /etc/keys/secureboot and /usr/bin/sbctl
type secureboot_t;
type secureboot_keys_t;

gen_require(`
    attribute file_type, security_file_type, auth_file_type;
')
attribute secureboot_file;
typeattribute secureboot_t file_type, security_file_type, auth_file_type, secureboot_file;
typeattribute secureboot_keys_t file_type, security_file_type, auth_file_type, secureboot_file;

#audit: type=1400 audit(1711043582.537:369378): avc:  denied  { read } for  pid=31712 comm="sbctl" name="db.pem" dev="nvme0n1p6" ino=923902 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:secureboot_keys_t tclass=file permissive=1
allow secureboot_t secureboot_keys_t:dir { manage_dir_perms };
allow secureboot_t secureboot_keys_t:file { manage_file_perms };

gen_require(`
    type    sysadm_t;
    role    sysadm_r;
    type tpm_device_t;
    type initrc_t;
')

#audit: type=1400 audit(1703042168.455:264): avc:  denied  { getattr } for  pid=8202 comm="find" path="/etc/keys/secureboot" dev="nvme0n1p6" ino=442404 scontext=root:sysadm_r:sysadm_t tcontext=system_u:object_r:secureboot_keys_t tclass=dir permissive=0
#audit: type=1400 audit(1703042168.862:265): avc:  denied  { getattr } for  pid=8202 comm="find" path="/usr/share/secureboot/keys" dev="nvme0n1p6" ino=1032242 scontext=root:sysadm_r:sysadm_t tcontext=system_u:object_r:secureboot_keys_t tclass=dir permissive=0
dontaudit sysadm_t secureboot_keys_t:dir { getattr };
#TODO selective programs can read? bool?
#audit: type=1400 audit(1698372087.022:2324): avc:  denied  { read } for  pid=29062 comm="find" name="secureboot" dev="nvme0n1p6" ino=442404 scontext=root:sysadm_r:sysadm_t tcontext=system_u:object_r:secureboot_keys_t tclass=dir permissive=0
#allow sysadm_t secureboot_keys_t:dir { getattr read };

#TPM move to other file
#audit: type=1400 audit(1698790286.553:60145): avc:  denied  { read write } for  pid=342 comm="tpm2_pcrread" name="tpmrm0" dev="devtmpfs" ino=90 scontext=root:sysadm_r:sysadm_t tcontext=system_u:object_r:tpm_device_t tclass=chr_file permissive=0
#audit: type=1400 audit(1698790286.553:60146): avc:  denied  { read write } for  pid=342 comm="tpm2_pcrread" name="tpm0" dev="devtmpfs" ino=89 scontext=root:sysadm_r:sysadm_t tcontext=system_u:object_r:tpm_device_t tclass=chr_file permissive=0
#audit: type=1400 audit(1698790408.674:60152): avc:  denied  { open } for  pid=426 comm="tpm2_pcrread" path="/dev/tpmrm0" dev="devtmpfs" ino=90 scontext=root:sysadm_r:sysadm_t tcontext=system_u:object_r:tpm_device_t tclass=chr_file permissive=0
#audit: type=1400 audit(1698790408.674:60153): avc:  denied  { open } for  pid=426 comm="tpm2_pcrread" path="/dev/tpm0" dev="devtmpfs" ino=89 scontext=root:sysadm_r:sysadm_t tcontext=system_u:object_r:tpm_device_t tclass=chr_file permissive=0
allow sysadm_t tpm_device_t:chr_file { read write open };
#+
#tpm2_pcrread from /etc/local.d
#audit: type=1400 audit(1706546808.553:13): avc:  denied  { read write } for  pid=2964 comm="tpm2_pcrread" name="tpmrm0" dev="devtmpfs" ino=90 scontext=system_u:system_r:initrc_t tcontext=system_u:object_r:tpm_device_t tclass=chr_file permissive=0
#audit: type=1400 audit(1706546808.553:14): avc:  denied  { read write } for  pid=2964 comm="tpm2_pcrread" name="tpm0" dev="devtmpfs" ino=89 scontext=system_u:system_r:initrc_t tcontext=system_u:object_r:tpm_device_t tclass=chr_file permissive=0
allow initrc_t tpm_device_t:chr_file { read write open };

########################################
# secureboot_exec Declarations

attribute_role secureboot_roles;
roleattribute system_r secureboot_roles;

type secureboot_exec_t;
application_domain(secureboot_t, secureboot_exec_t)
role secureboot_roles types secureboot_t;

#PERMISSIVE! (for now)
permissive secureboot_t;

########################################
# secureboot local policy autogenerated

allow secureboot_t self:fifo_file { manage_fifo_file_perms };
allow secureboot_t self:unix_stream_socket { create_stream_socket_perms };

domain_use_interactive_fds(secureboot_t)

files_read_etc_files(secureboot_t)

miscfiles_read_localization(secureboot_t)

########################################
# secureboot policy carefully added by genr8eofl, March 21 2024

#Important, sets transition & Entrypoint (for sysadmin)
secureboot_run(sysadm_t, sysadm_r)

#audit: type=1400 audit(1711043098.433:369343): avc:  denied  { read write } for  pid=31571 comm="sbctl" path="/dev/pts/1" dev="devpts" ino=4 scontext=root:sysadm_r:secureboot_t tcontext=root:object_r:user_devpts_t tclass=chr_file permissive=1
#audit: type=1400 audit(1711043098.433:369344): avc:  denied  { append } for  pid=31571 comm="sbctl" path="/dev/pts/1" dev="devpts" ino=4 scontext=root:sysadm_r:secureboot_t tcontext=root:object_r:user_devpts_t tclass=chr_file permissive=1
userdom_use_user_terminals(secureboot_t)

#audit: type=1400 audit(1711043098.434:369347): avc:  denied  { open } for  pid=31571 comm="sbctl" path="/sys/kernel/mm/transparent_hugepage/hpage_pmd_size" dev="sysfs" ino=5734 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:sysfs_t tclass=file permissive=1
dev_read_sysfs(secureboot_t)

#audit: type=1400 audit(1711043098.436:369350): avc:  denied  { search } for  pid=31571 comm="sbctl" name="boot" dev="nvme0n1p6" ino=2271 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:boot_t tclass=dir permissive=1
files_list_boot(secureboot_t)

#audit: type=1400 audit(1711043098.436:369351): avc:  denied  { search } for  pid=31571 comm="sbctl" name="sbin" dev="nvme0n1p6" ino=930203 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:bin_t tclass=dir permissive=1
#audit: type=1400 audit(1711043098.436:369352): avc:  denied  { getattr } for  pid=31571 comm="sbctl" path="/bin/lsblk" dev="nvme0n1p6" ino=1573401 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:bin_t tclass=file permissive=1
#audit: type=1400 audit(1711043098.436:369353): avc:  denied  { execute } for  pid=31571 comm="sbctl" name="lsblk" dev="nvme0n1p6" ino=1573401 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:bin_t tclass=file permissive=1
#audit: type=1400 audit(1711043098.437:369354): avc:  denied  { read open } for  pid=31577 comm="sbctl" path="/bin/lsblk" dev="nvme0n1p6" ino=1573401 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:bin_t tclass=file permissive=1
#audit: type=1400 audit(1711043098.437:369355): avc:  denied  { execute_no_trans } for  pid=31577 comm="sbctl" path="/bin/lsblk" dev="nvme0n1p6" ino=1573401 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:bin_t tclass=file permissive=1
#audit: type=1400 audit(1711043098.437:369356): avc:  denied  { map } for  pid=31577 comm="lsblk" path="/bin/lsblk" dev="nvme0n1p6" ino=1573401 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:bin_t tclass=file permissive=1
corecmd_search_bin(secureboot_t)
corecmd_exec_bin(secureboot_t)

#audit: type=1400 audit(1711043098.445:369360): avc:  denied  { search } for  pid=31577 comm="lsblk" name="udev" dev="tmpfs" ino=40 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:udev_runtime_t tclass=dir permissive=1
#audit: type=1400 audit(1711043098.445:369361): avc:  denied  { read } for  pid=31577 comm="lsblk" name="b259:0" dev="tmpfs" ino=205 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:udev_runtime_t tclass=file permissive=1
#audit: type=1400 audit(1711043098.445:369362): avc:  denied  { open } for  pid=31577 comm="lsblk" path="/run/udev/data/b259:0" dev="tmpfs" ino=205 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:udev_runtime_t tclass=file permissive=1
#audit: type=1400 audit(1711043098.445:369363): avc:  denied  { getattr } for  pid=31577 comm="lsblk" path="/run/udev/data/b259:0" dev="tmpfs" ino=205 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:udev_runtime_t tclass=file permissive=1
udev_search_runtime(secureboot_t)
udev_read_runtime_files(secureboot_t)

#audit: type=1400 audit(1711043098.445:369365): avc:  denied  { search } for  pid=31577 comm="lsblk" name="mount" dev="tmpfs" ino=24 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:mount_runtime_t tclass=dir permissive=1
#audit: type=1400 audit(1711043098.445:369366): avc:  denied  { getattr } for  pid=31577 comm="lsblk" path="/run/mount/utab" dev="tmpfs" ino=4069 scontext=root:sysadm_r:secureboot_t tcontext=root:object_r:mount_runtime_t tclass=file permissive=1
mount_read_runtime_files(secureboot_t)

#audit: type=1400 audit(1711043098.445:369367): avc:  denied  { read } for  pid=31577 comm="lsblk" name="swaps" dev="proc" ino=4026532062 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:proc_t tclass=file permissive=1
#audit: type=1400 audit(1711043098.445:369368): avc:  denied  { open } for  pid=31577 comm="lsblk" path="/proc/swaps" dev="proc" ino=4026532062 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:proc_t tclass=file permissive=1
#audit: type=1400 audit(1711043098.445:369369): avc:  denied  { getattr } for  pid=31577 comm="lsblk" path="/proc/swaps" dev="proc" ino=4026532062 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:proc_t tclass=file permissive=1
seutil_libselinux_linked(secureboot_t)
selinux_get_all_booleans(secureboot_t)

#audit: type=1400 audit(1711043582.522:369373): avc:  denied  { getsched } for  pid=31712 comm="sbctl" scontext=root:sysadm_r:secureboot_t tcontext=root:sysadm_r:secureboot_t tclass=process permissive=1
#audit: type=1400 audit(1711043582.523:369374): avc:  denied  { signal } for  pid=31712 comm="sbctl" scontext=root:sysadm_r:secureboot_t tcontext=root:sysadm_r:secureboot_t tclass=process permissive=1
allow secureboot_t self:process { getsched signal };

#audit: type=1400 audit(1711043769.836:369388): avc:  denied  { open } for  pid=31814 comm="sbctl" path="/boot/vmlinuz-6.1.57-gentoo-dist" dev="nvme0n1p6" ino=1846 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:boot_t tclass=file permissive=1
#audit: type=1400 audit(1711043769.836:369389): avc:  denied  { getattr } for  pid=31814 comm="sbctl" path="/boot/vmlinuz-6.1.57-gentoo-dist" dev="nvme0n1p6" ino=1846 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:boot_t tclass=file permissive=1
files_read_boot_files(secureboot_t)

#audit: type=1400 audit(1711043769.866:369390): avc:  denied  { read } for  pid=31814 comm="sbctl" name="grubx64.efi" dev="nvme0n1p1" ino=646 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:dosfs_t tclass=file permissive=1
#audit: type=1400 audit(1711043769.866:369391): avc:  denied  { open } for  pid=31814 comm="sbctl" path="/boot/efi/EFI/gentoo/grubx64.efi" dev="nvme0n1p1" ino=646 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:dosfs_t tclass=file permissive=1
#audit: type=1400 audit(1711043769.868:369392): avc:  denied  { getattr } for  pid=31814 comm="sbctl" path="/boot/efi/EFI/gentoo/grubx64.efi" dev="nvme0n1p1" ino=646 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:dosfs_t tclass=file permissive=1
#audit: type=1400 audit(1711043769.878:369393): avc:  denied  { getattr } for  pid=31814 comm="sbctl" path="/boot/efi" dev="nvme0n1p1" ino=1 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:dosfs_t tclass=dir permissive=1
fs_getattr_dos_dirs(secureboot_t)
fs_read_dos_files(secureboot_t)

#audit: type=1400 audit(1711043763.645:369382): avc:  denied  { getattr } for  pid=31811 comm="lsblk" path="/dev/nvme0n1p6" dev="devtmpfs" ino=107 scontext=root:sysadm_r:secureboot_t tcontext=system_u:object_r:fixed_disk_device_t tclass=blk_file permissive=1
storage_getattr_fixed_disk_dev(secureboot_t)
