policy_module(useradd, 1.0.6)
gen_require(`
    type useradd_t;
    type ssh_home_t;
')

#(Useradd - compacted rules to interfaces, see git history)
seutil_libselinux_linked(useradd_t)
seutil_get_semanage_read_lock(useradd_t)
seutil_get_semanage_trans_lock(useradd_t)
seutil_read_module_store(useradd_t)
seutil_manage_file_contexts(useradd_t)

#(Useradd_t create ~/.ssh dir)
#audit: type=1400 audit(1661961203.708:10624): avc:  denied  { create } for  pid=1197 comm="useradd" name=".ssh" scontext=root:sysadm_r:useradd_t tcontext=staff_u:object_r:ssh_home_t tclass=dir permissive=1
#audit: type=1400 audit(1661961203.708:10625): avc:  denied  { setattr } for  pid=1197 comm="useradd" name=".ssh" dev="nvme0n1p8" ino=1638403 scontext=root:sysadm_r:useradd_t tcontext=staff_u:object_r:ssh_home_t tclass=dir permissive=1
allow useradd_t ssh_home_t:dir { create setattr };
#audit: type=1400 audit(1661961203.708:10626): avc:  denied  { dac_read_search } for  pid=1197 comm="useradd" capability=2  scontext=root:sysadm_r:useradd_t tcontext=root:sysadm_r:useradd_t tclass=capability permissive=1
dontaudit useradd_t self:capability { dac_read_search };
#audit: type=1400 audit(1661961203.708:10627): avc:  denied  { read } for  pid=1197 comm="useradd" name=".ssh" dev="nvme0n1p8" ino=1638403 scontext=root:sysadm_r:useradd_t tcontext=staff_u:object_r:ssh_home_t tclass=dir permissive=1
#audit: type=1400 audit(1661961203.708:10628): avc:  denied  { open } for  pid=1197 comm="useradd" path="/home/superviso9/.ssh" dev="nvme0n1p8" ino=1638403 scontext=root:sysadm_r:useradd_t tcontext=staff_u:object_r:ssh_home_t tclass=dir permissive=1
dontaudit useradd_t ssh_home_t:dir { open read };
