# CONFIG_SUSPEND is not set
# CONFIG_HIBERNATION is not set

# CONFIG_X86_MCE_INTEL is not set
# CONFIG_IOSF_MBI is not set
# CONFIG_X86_AMD_PLATFORM_DEVICE is not set
# CONFIG_X86_EXTENDED_PLATFORM is not set
# CONFIG_ISA is not set
# CONFIG_SCx200 is not set
# CONFIG_OLPC is not set
# CONFIG_ALIX is not set
# CONFIG_NET5501 is not set
# CONFIG_GEOS is not set

# CONFIG_IA32_EMULATION is not set

# CONFIG_BINFMT_MISC is not set

# CONFIG_USERFAULTFD is not set
# CONFIG_DAMON is not set
