CONFIG_PACKET=m
CONFIG_PACKET_DIAG=m
CONFIG_UNIX_DIAG=m
# CONFIG_XFRM_USER is not set
# CONFIG_NET_KEY is not set
# CONFIG_IP_MULTICAST is not set
# CONFIG_IP_ROUTE_MULTIPATH is not set
# CONFIG_NET_IPGRE_DEMUX is not set
# CONFIG_NET_IPVTI is not set
# CONFIG_NET_FOU is not set
# CONFIG_NET_FOU_IP_TUNNELS is not set
# CONFIG_INET_AH is not set
# CONFIG_INET_ESP is not set
# CONFIG_INET_IPCOMP is not set
CONFIG_INET_DIAG=m
CONFIG_INET_TCP_DIAG=m
CONFIG_INET_UDP_DIAG=m
CONFIG_INET_RAW_DIAG=m
CONFIG_IPV6=m
# CONFIG_IPV6_ROUTER_PREF is not set
# CONFIG_IPV6_OPTIMISTIC_DAD is not set
# CONFIG_INET6_AH is not set
# CONFIG_INET6_ESP is not set
# CONFIG_INET6_IPCOMP is not set
# CONFIG_IPV6_MIP6 is not set
# CONFIG_IPV6_ILA is not set
# CONFIG_IPV6_VTI is not set
# CONFIG_IPV6_SIT is not set
# CONFIG_IPV6_TUNNEL is not set
# CONFIG_IPV6_MULTIPLE_TABLES is not set
# CONFIG_IPV6_MROUTE is not set
# CONFIG_IPV6_SEG6_LWTUNNEL is not set
# CONFIG_IPV6_SEG6_HMAC is not set
# CONFIG_IPV6_RPL_LWTUNNEL is not set
# CONFIG_IPV6_IOAM6_LWTUNNEL is not set
CONFIG_NF_CT_NETLINK_HELPER=m
CONFIG_NETFILTER_NETLINK_GLUE_CT=y
CONFIG_NFT_CONNLIMIT=m
CONFIG_NFT_OSF=m
# CONFIG_NFT_REJECT_NETDEV is not set
CONFIG_NETFILTER_XTABLES=m
# CONFIG_BRIDGE_IGMP_SNOOPING is not set
# CONFIG_BRIDGE_CFM is not set
# CONFIG_VLAN_8021Q_GVRP is not set
# CONFIG_VLAN_8021Q_MVRP is not set
CONFIG_NETLINK_DIAG=m
# CONFIG_BPF_STREAM_PARSER is not set
# CONFIG_NET_DROP_MONITOR is not set
# CONFIG_WIRELESS is not set
# CONFIG_FAILOVER is not set
