CONFIG_PROCESSOR_SELECT=y
CONFIG_CPU_SUP_INTEL=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_CPU_SUP_AMD=y
CONFIG_FUNCTION_ERROR_INJECTION=n
CONFIG_GENTOO_LINUX=y
CONFIG_GENTOO_LINUX_UDEV=y
CONFIG_GENTOO_LINUX_PORTAGE=y
CONFIG_GENTOO_LINUX_INIT_SCRIPT=y
CONFIG_GENTOO_LINUX_INIT_SYSTEMD=n
CONFIG_GENTOO_KERNEL_SELF_PROTECTION=y
CONFIG_GENTOO_PRINT_FIRMWARE_INFO=y
