CONFIG_IGB=y
#.config:8632:warning: override: KERNEL_GZIP changes choice state
#.config:8859:warning: override: LEGACY_VSYSCALL_NONE changes choice state
#.config:8908:warning: override: MODULE_COMPRESS_XZ changes choice state
#.config:8936:warning: override: reassigning to symbol X86_EXTENDED_PLATFORM
#.config:8942:warning: override: reassigning to symbol HWMON
#.config:8944:warning: override: reassigning to symbol IOMMU_SUPPORT
#.config:8971:warning: override: reassigning to symbol FPGA
#.config:9041:warning: override: reassigning to symbol POWERCAP
#.config:9073:warning: override: INIT_STACK_ALL_ZERO changes choice state

